# Vercel
.vercel

# Dependencies
node_modules
npm-debug.log

# Environment
.env
.env.local
.env.production.local
.env.development.local

# Git
.git
.gitignore

# Build
.next
dist
build

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Coverage
coverage
.nyc_output

# Misc
*.tgz
*.tar.gz